@import './Colors.scss';

.home{

    width: 100%;
    height: 89vh;
    background-color: rgb(42, 36, 104);
    

    >main{

       position:absolute;
       text-transform: uppercase;
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       width: 100%;
       height: 100%;
       padding: 10px;
       justify-content: center;
      // padding-left: 20px;
      //margin-right: 25px;

       >h1{

        font: 500 2.3rem "noto-sans";
        color: rgb(244, 247, 250);
        
       }

       >p{

        font: 100 1.5rem "noto-sans";
        color: white;
       }
    }

    &::before {

        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: no-repeat center/auto url("../assets/6th.png");
        filter: blur(2px);
         border-radius: 0 0 200px 200px;
   }
}

.home2{

        width: 100%;
        height: 100px;
        background-color: rgb(42, 36, 104);
        padding:500px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -200px;
       

    >img{

        width: 28%;
        animation: imgUp 0.7s linear infinite alternate;
        height: 20rem;
        border: 5px solid black;
    }

    >div{
  
        width: 50%;
        height: 120vh;
        padding: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        >h2{

            color: aliceblue;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 90px;
            border-bottom: 2px solid $first;
            text-transform: uppercase;
        }

        >p{
            color: aliceblue;
            letter-spacing: 2px;
            word-spacing: 5px;
            font: 125 1.25rem cursive;
            line-height: 170%;

        }

    }
}

@keyframes imgUp{

    to{
        
        transform: translateY(-10px);

    }
}


.home3{

    width: 100%;
    height: 650px;
    background-color: rgb(42, 36, 104);
    margin-top: -200px;
    display: flex;
    
    >div{

        width: 75%;
        height: 500px;
        background-color: white;
        border-radius: 0 200px 200px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;


        >h2{

            text-transform: uppercase;
            border-bottom: 2px solid $first;
           color: rgb(15, 15, 105);
           word-spacing: 3px;
        }

        >p{
            padding: 3rem;
           word-spacing: 5px;
           letter-spacing: 1px;
           line-height: 120%;
           font: italic 100 1.2rem black;
        }
    }
}

.home4
{
    width: 100%;
    height: 115vh;
    background-color:rgb(42, 36, 104);
    display: flex;
   justify-content: flex-end;

    > div
    {
        width: 70%;
        height: 80%;
        border-radius: 200px 0 0 200px;
        background-color: rgb(98, 88, 212);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        >h1{
        
            text-transform: uppercase;
            font: 200 2rem "noto-sans";
            border-bottom: 2px solid $first;
            display: flex;
            justify-content: center;
            color: white;
            padding: 0.5rem;
        }

        >article{

            display: flex;
            justify-content: center;
            //flex-wrap: wrap;
            margin: 2rem 0;


            >div{

                animation: imgUp 0.7s linear infinite alternate;
                width: 150px;
                height: 150px;
                margin: 1rem;
                background-color: rgb(139, 227, 149);
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: rgba(16, 1, 1, 0.909);
                cursor: pointer;
                //transition: all 0.5s;
                
                &:hover{
                    filter: invert(1);

                }

                svg{
                    font-size: 4rem
                }

                >p
                {

                    font: 100 1rem cursive;
                }
            }
        }
    }

}
